{{ $currentPage := . }}
<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
    <title>{{ .Site.Title }}{{ if ne .Title .Site.Title }} - {{ .Title }}{{ end }}</title>
    {{ partial "meta" . }}

    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>
    <div id="container">
        <header>
            <a href="/" class="title-link">
                {{ partial "images/logo-small.svg" }}
            </a>
            <a href="{{ relURL "/" }}" class="title-link">
                <h1>
                    {{ .Site.Title | markdownify }}
                </h1>
            </a>

            <ul id="social-media">
                {{ if .Site.Author.twitter }}
                <li><a href="https://twitter.com/{{ .Site.Author.twitter }}"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                {{ end }} {{ if .Site.Author.linkedin }}
                <li><a href="https://www.linkedin.com/in/{{ .Site.Author.linkedin }}"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
                {{ end }} {{ if .Site.Author.github }}
                <li><a href="https://github.com/{{ .Site.Author.github }}"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
                {{ end }} {{ if .Site.Author.gitlab }}
                <li><a href="https://gitlab.com/{{ .Site.Author.gitlab }}"><i class="fa fa-gitlab fa-lg" aria-hidden="true"></i></a></li>
                {{ end }} {{ if .Site.Author.facebook }}
                <li><a href="https://www.facebook.com/{{ .Site.Author.facebook }}"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                {{ end }} {{ if .Site.Author.instagram }}
                <li><a href="https://instagram.com/{{ .Site.Author.instagram }}"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
                {{ end }}
            </ul>
            {{ with .Site.Params.tagline }}
            <p><em>{{ . | markdownify }}</em></p>
            {{ end }}

            <ul id="header-links">
                {{ range .Site.Menus.main }}
                <li>
                    <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{.URL}}">
                        <i class="fa-li fa {{ .Pre }} fa-lg"></i><span>{{ .Name }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </header>

        {{ partial "nav" . }}

        <main>
